/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500');*/
/*@import url('https://fonts.googleapis.com/css?family=Caveat:700');*/
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('fonts/IBMPlexSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Caveat-Bold';
    src: url('fonts/Caveat-Bold.ttf') format('ttf');
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
:focus {
    outline: none;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 1.321;
    background-color: #f1f1f1 !important;
}

.name{
    font-family: 'Caveat-Bold', cursive;
}

.btn {
    padding: 10px !important;
    font-size: 14px;
    color: white;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.btn-primary {
    width: 100%;
    background-color: #c9193d !important;
    border: 1px solid #f1f1f1;
    border-color: #ffffff !important;
}
.btn-add-post{
    margin-bottom: 20px !important;
}
.pagination {
    padding-bottom: 20px;
    text-align: center;
}
.pagination li {
    display: inline-block;
}
.pagination li:hover a,
.pagination li.current-page a {
    background-color: #c9193d;
}

.pagination>li>a, .pagination>li>span {
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
}

.pagination i.fa{
    padding-right: 5px ;
}
.bottom-area {
    padding-top: 10px;
}
.bottom-area .author {
    float: left;
}
.bottom-area .controls {
    float: right;
    padding: 10px 0 0;
    margin: 0;
    list-style: none;
}
.bottom-area .controls li {
    float: left;
    margin-left: 5px;
}
.bottom-area .controls a {
    display: block;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    background-color: #c9193d;
    border-radius: 50%;
}
.bottom-area .controls .fa-pencil {
    font-size: 13px;
}
.bottom-area .controls .fa-trash {
    font-size: 13px;
}
.sidebar {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.sidebar .logo {
    padding-bottom: 15px;
}
.sidebar .logo img {
    display: block;
    margin: 0 auto;
}
.sidebar .guestbook {
    display: inline-block;
    padding-top: 15px;
    color: #333;
    border-top: 1px solid #c1c1c1;
}
.sidebar .desc {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 13px;
    color: #444;
    text-align: left;
}
.sidebar .login-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #555;
}

.sidebar .home-link {
    display: block;
    text-decoration: none;
    color: #555;
}
.primary {
    padding-top: 20px;
    color: white;
    background-color: #383842;
}
.post-wrap .item {
    padding: 0 20px 20px;
}
.post-wrap .item .desc {
    background: url("../images/double-quote-serif-left-xxl.png") no-repeat center center / 50px;
}

/* Style inputs, select elements and textareas */
input[type=text],input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    background-color: #c9193d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
.popup {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    margin-top: 20%
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.submit-row{
    margin-top: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

form .error {
    color: #ff0000;
}

.modal-content{
    padding: 0 40px 40px 40px;
}

span.date{
    font-size: 10px;
}
textarea.post-message{
    height: 250px;
}
#frm-add-post{
    color: #555;
}

p.error-message.success{
    color: #006400;
}

p.error-message.error{
    color: #ff0000;
}

div.error-message{
    padding: 10px;
    color: #ff0000;
}

.modal-title{
    color: #555;
}
@media (min-width: 544px) {
    .post-wrap .item {
        float: left;
        width: 50%;
    }
    .post-wrap .item:nth-child(2n+3) {
        clear: left;
    }

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .sidebar {
        position: relative;
        width: 200px;
        min-height: 100vh;
        padding: 45px 38px;
        background-color: white;
    }
    .sidebar .login-link {
        position: absolute;
        bottom: 20px;
        left: 38px;
    }
    .primary {
        width: calc(100% - 200px);
        min-height: 100vh;
        padding-top: 45px;
    }
    .post-wrap .item {
        padding-bottom: 30px;
    }

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .sidebar {
        padding: 45px 38px;
        width: 250px;
    }
    .primary {
        width: calc(100% - 250px);
        padding-top: 40px;
    }
    .post-wrap .item {
        padding-bottom: 50px;
    }

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}